/*desktop*/
header img{
	margin: 2vw;
	margin-left: 3vw;
	width: 15vw;
	float: left;
}
header h1{
	float: left;
	font-size: 4.8vw;
	letter-spacing: 1vw;
	line-height: 19vw;
}
.nav{
	position: fixed;
	border-left: 3vmin solid #FE9A1E;
	border-radius: 3vmin 0 0 4vmin;
	right: 0;
	height: 60vh;
	top: 20vh;
	z-index: 2;
}
.nav:not(.open){
	width: 0;
}
.nav.open{
	line-height: 3vw;
	padding: 2vmin;
	background: #FFFFFF;
	border-top: 1vmin solid #FE9A1E;
	border-bottom: 1vmin solid #FE9A1E;
}
.nav:hover{
	border-left-color: #B9EC2D;
}
#nav-ctrl{
	position: absolute;
	top: 0;
	bottom: 0;
	left: -3vmin;
	display: block;
	width: 3vmin;
	background-image: url("../images/right-arrow.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.nav:not(.open) #nav-ctrl{
	transform: rotate(180deg);
}
.nav li{
	display: block;
	font-size: 2vw;
}
.pages h1{
	text-align: center;
	font-size: 2.5em;
}
section{
	margin: 5%;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 0.2vw solid #FE9A1E;
	padding: 2%;
}
section details{
	font-size: 2.8vw;
}
section summary{
	cursor: pointer;
	padding: 1vw;
	border: 0.1vw solid rgba(0,0,0,0);
	border-radius: 0.6vw;
}
section summary:hover{
	border-color: #7DACFC;
}
section h2{
	display: inline-block;
	font-size: 1em;
}
section h4{
	display: inline-block;
	font-size: 0.8em;
}
section p{
	font-size: 0.8em;
	margin: 1vw;
	margin-left: 5.5vw;
}
section nav{
	font-size: 0.8em;
	margin: 1vw;
	margin-left: 10vw;
}
footer{
	margin-top: 5vw;
	padding: 3vw;
	text-align: center;
	font-size: 1.5vw;
}
#go-down{
	right: 10vw;
	bottom: 10vh;
}
#go-down img{
	width: 10vmin;
}
#key-word{
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	border: 0.2vw solid #7DACFC;
	height: 2vw;
	width: 100%;
	font-size: 1.6vw;
	line-height: 2vw;
}
#go-search{
	display: block;
	position: absolute;
	background: none;
	border: none;
	right: 0.2vw;
	bottom: 0.2vw;
}
.nav:not(.open) #go-search{
	display: none;
}
#search-box img{
	height: 1.6vw;
	cursor: pointer;
}
.tags a{
	display: inline-block;
	border-radius: 0.3em;
	background: #7DACFC;
	color: #FFFFFF;
	font-size: 0.8em;
	padding: 0.2em;
	margin-right: 0.5em;
}
.tags a:hover{
	background: #B9EC2D;
}