slides/20171005-CS-Types/ColorTrans/bin/
slides/20171005-CS-Types/ColorTrans/obj/
slides/20171005-CS-Types/ColorTrans/.vs/
slides/20171012-CS-BooleanControl_Random/Lottery/bin/
slides/20171012-CS-BooleanControl_Random/Lottery/obj/
slides/20171012-CS-BooleanControl_Random/Lottery/.vs/
slides/20171005-CS-Types/BMICalculator/bin/
slides/20171005-CS-Types/BMICalculator/obj/
slides/20171005-CS-Types/BMICalculator/.vs/
slides/20171005-CS-Types/BoringRPG/bin/
slides/20171005-CS-Types/BoringRPG/obj/
slides/20171005-CS-Types/BoringRPG/.vs/
slides/20170928-CS-Intro/HelloWorld/bin/
slides/20170928-CS-Intro/HelloWorld/obj/
slides/20170928-CS-Intro/HelloWorld/.vs/